@import '~styles/common.scss';

@mixin container_common {
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    line-height: 1;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: $white;
    border-radius: .8rem;
    text-decoration: none;
    transition: box-shadow 0.2s;
    background-image: linear-gradient(to right, $blue_gradient_start 0%, $blue_gradient_end 100%);
    &:hover{
        background-image: linear-gradient(to right, $blue_gradient_end 0%, $blue_gradient_start 100%);
    }
}

.button {
   @include container_common;
   box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.43);
}

.button_on_push {
    @include container_common;
    box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.11);;
 }