@import '~styles/common.scss';

.main {
  min-height: 100vh;
  padding: $header_height 0 0;
}

.centered {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.flexcenter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
